<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead"></head>

<body>

<div th:replace="template :: admin-nav"></div>

	<h1>Admin Home Page</h1>
	
	<h2>Setup a <a href="/adminsetup">new Admin</a></h2>
	<h2>Setup a <a href="/adminevalsetup">new Evaluator</a></h2>
	<br></br>
	<h2><a href="/adminreports">Reports</a></h2>
	
	
	<h2>Current Evaluations</h2>
	
	<ul>
		<li th:each="evaluation: ${evaluation}"><a th:href="'/adminevalreview' + ${evaluation.uid}"><span th:text="${evaluation.officialFirstName} + ' ' + ${evaluation.officialLastName}"></span></a></li>
	
	</ul>
	

</body>


</html>