<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead"></head>

<body>

	<div th:replace="template :: admin-nav"></div>
	
	<h1>Average Scores</h1>
	<h3>Scoring based on a max 25 point total</h3>
	
	<p th:text="'All Officials:  ' + ${aveScore}"></p>
	<p th:text="'Level 1 Officials:  ' + ${level1Ave}"></p>
	<p th:text="'Level 2 Officials:  ' + ${level2Ave}"></p>
	<p th:text="'Level 3 Officials:  ' + ${level3Ave}"></p>
	<p th:text="'Level 4 Officials:  ' + ${level4Ave}"></p>
	

	
	

</body>
</html>