<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org">
<head th:replace="template :: dochead"></head>

<body>
	<div th:replace="template :: eval-nav"></div>
	
	<h1>Input Official's Evaluation</h1>
	
	<form method="post">
	<span class = "error" th:text="${missing_field_error}"></span>
	<h2>Officials Information</h2>
	<table>
		<tr>
			<td><label for="officialFirstName">Officials First Name</label></td>
		</tr>
		<tr>
			<td>
				<input name="officialFirstName" type="text" th:value="${officialFirstName}"></input>
				<span class="error" th:text="${officialFirstName_error}"></span>
			</td>
		</tr>
		<tr>
			<td><label for="officialLastName">Officials Last Name</label></td>
		</tr>
		<tr>
			<td>
				<input name="officialLastName" type="text" th:value="${officialLastName}"></input>
				<span class="error" th:text="${officialLastName_error}"></span>
			</td>
		</tr>
		<tr>
			<td><label for="evaluationDate">Evaluation Date (M/D/Y)</label></td>
		</tr>
		<tr>
			<td>
				<input name="evaluationDate" type="text" th:value="${evaluationDate}"></input>
				<span class="error" th:text="${evaluationDate_error}"></span>
			</td>
		</tr>
		<tr>
			<td><label for="evaluationLocation">Evaluation Location</label></td>
		</tr>
		<tr>
			<td>
				<input name="evaluationLocation" type="text" th:value="${evaluationLocation}"></input>
				<span class="error" th:text="${evaluationLocation_error}"></span>
			</td>
		</tr>
		<tr>
			<td><label for="gameLevel">Game Level</label></td>
		</tr>
		<tr>
			<td>
				<input name="gameLevel" type="text" th:value="${gameLevel}"></input>
				<span class="error" th:text="${gameLevel_error}"></span>
			</td>
		</tr>
	</table>
	
	<h2>Evaluation Criteria</h2>
	<label for="appearance">Appearance</label>
	<br/>
			
	<input name="appearance" type="radio" value="1">Unacceptable 1</input>
	<input name="appearance" type="radio" value="2">2</input>
	<input name="appearance" type="radio" value="3">3</input>
	<input name="appearance" type="radio" value="4">4</input>
	<input name="appearance" type="radio" value="5">5 Appropriate</input>
	<span class="error" th:text="${appearance_error}"></span>
	<br/>
	<br/>
	
	<label for="appearanceComment">Comments on Appearance</label>
	<input name="appearanceComment" type="text" th:value="${appearanceComment}"></input>
	<br/>
	<br/>
	
	<label for="skating">Skating</label>
	<br/>
			
	<input name="skating" type="radio" value="1">Unacceptable 1</input>
	<input name="skating" type="radio" value="2">2</input>
	<input name="skating" type="radio" value="3">3</input>
	<input name="skating" type="radio" value="4">4</input>
	<input name="skating" type="radio" value="5">5 Good</input>
	<span class="error" th:text="${skating_error}"></span>
	<br/>
	<br/>
	
	<label for="SkatingComment">Comments on Skating</label>
	<input name="skatingComment" type="text" th:value="${skatingComment}"></input>
	<br/>
	<br/>
	
	<label for="positioning">Positioning</label>
	<br/>
		
	<input name="positioning" type="radio" value="1">Needs Work 1</input>
	<input name="positioning" type="radio" value="2">2</input>
	<input name="positioning" type="radio" value="3">3</input>
	<input name="positioning" type="radio" value="4">4</input>
	<input name="positioning" type="radio" value="5">5 Good</input>
	<span class="error" th:text="${positioning_error}"></span>
	<br/>
	<br/>
	
	<label for="positioningComment">Comments on Positioning</label>
	<input name="positioningComment" type="text" th:value="${positioningComment}"></input>
	<br/>
	<br/>
	
	<label for="ruleKnowLedge">Rule Knowledge</label>
	<br/>
	<br/>
		
	<input name="ruleKnowLedge" type="radio" value="1">Needs Work 1</input>
	<input name="ruleKnowLedge" type="radio" value="2">2</input>
	<input name="ruleKnowLedge" type="radio" value="3">3</input>
	<input name="ruleKnowLedge" type="radio" value="4">4</input>
	<input name="ruleKnowLedge" type="radio" value="5">5 Good</input>
	<span class="error" th:text="${ruleKnowLedge_error}"></span>
	<br/>
	<br/>
	
	
	<label for="ruleKnowledgeComment">Comments on Rule Knowledge</label>
	<input name="ruleKnowledgeComment" type="text" th:value="${ruleKnowLedgeComment}"></input>
	<br/>
	<br/>
		
				
	<label for="communication">Communication</label>
	<br/>
	<br/>
		
	<input name="communication" type="radio" value="1">Needs Work 1</input>
	<input name="communication" type="radio" value="2">2</input>
	<input name="communication" type="radio" value="3">3</input>
	<input name="communication" type="radio" value="4">4</input>
	<input name="communication" type="radio" value="5">5 Good</input>
	<span class="error" th:text="${communication_error}"></span>
	<br/>
	<br/>
	
	<label for="communicationComment">Comments on Communication</label>
	<input name="communicationComment" type="text" th:value="${communicationComment}"></input>
	<br/>
	<br/>	
	
	<label for="generalCommments">General Comments</label>
	<input name="generalComments" type="text" th:value="${generalComments}"></input>
	<br/>
	<br/>
	
	<button type="submit">Submit</button>	
	
	</form>

</body>

</html>