<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::dochead"></head>

<body>
	<div th:replace="template :: eval-nav"></div>
	
	<h1>Evaluator Home</h1>
	
	<h2>Current Requests for Evaluations</h2>
	<!-- add list of evaluation requests here -->
	<ul>
		<li th:each="evalRequests : ${evalRequests}"><a th:href="'/evaluator/'+${evalRequests.firstName}+${evalRequests.lastName}+'evalrequest'+${evalRequests.uid}"><span th:text="${evalRequests.fullName} + ' ' + ${evalRequests.date}"></span></a></li>
	</ul>
	
	<h2><a href="evaluatorevalinput">Input an Evaluation</a></h2>



</body>
</html>