<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead"></head>

<body>

	<div th:replace="template :: official-nav"></div>

	<h1>Request an Evaluation</h1>
	
	<h2>Fill out the below form to request an evaluation</h2>
	
	<!-- develop request form and figure out where to send the data -->
	<form method="post">
		
		<table>
			<tr>
				<td><span class="error" th:text="${missing_field_error}"></span></td>
			</tr>
			<tr>
				<td><label for="firstName">First Name</label></td>
				<td>
					<input name="firstName" type="text" th:value="${firstName}"></input>
					<span class="error" th:text="${first_error}"></span>
				</td>
			</tr>
			<tr>
				<td><label for="lastName">Last Name</label></td>
				<td>
					<input name="lastName" type="text" th:value="${lastName}"></input>
					<span class="error" th:text="${last_error}"></span>
				</td>
			</tr>
			
			<tr>
				<td><label for="date">Date of Game to be Evaluated(m/d/y)</label></td>
				<td>
					<input name="date" type="text" th:value="${date}"></input>
					<span class="error" th:text="${date_error}"></span>
				</td>
			</tr>
			<tr>
				<td><label for="time">Time of Game(h:m am/pm)</label></td>
				<td>
					<input name="time" type="text" th:value="${time}"></input>
					<span class="error" th:text="${time_error}"></span>
				</td>
			</tr>
			<tr>
				<td><label for="location">Game Location</label></td>
				<td>
					<input name="location" type="text" th:value="${location}"></input>
					<span class="location" th:text="${location_error}"></span>
				</td>
			</tr>
		</table>
		<button type="submit">Submit</button>
	</form>
	
	


</body>





</html>