<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="dochead">
	<link th:href="@{/css/normalize.css}" rel="stylesheet" />
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	<title>Hockey Official Evaluations</title>
</head>

<body>

<nav th:fragment="main-nav">
	<ul id="main-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>

<nav th:fragment="official-nav">
    <ul>
		<li><a href="/officialhome">Official Home</a></li>
		<li><a href="/officialevaluations">Evaluations</a></li>
		<li><a href="/officialevaluationrequest">Request Evaluation</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>

</nav>

<nav th:fragment="admin-nav">
    <ul>
		<li><a href="/adminhome">Admin Home</a></li>
		<li><a href="/adminevalsetup">Setup Evaluators</a></li>
		<li><a href="/adminreports">Reports</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>

</nav>

<nav th:fragment="eval-nav">
	<ul>
		<li><a href="/evaluatorhome">Evaluator Home</a></li>
		<li><a href="/evaluatorevalinput">Input Evaluation</a></li>
	</ul>
</nav>

</body>
</html>